html body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
    line-height: 1.6;
}

html {
    min-width: 320px;
}

.heading {
    font-weight: 700;
}
.subheading {
    font-weight: 300;
}

.App {
    text-align: center;
    height: 100%;
    background: #FDF8FF;
    background: -webkit-linear-gradient(bottom, #FDF8FF, #F8FDFF);
    background: -moz-linear-gradient(bottom, #FDF8FF, #F8FDFF);
    background: linear-gradient(to top, #FDF8FF, #F8FDFF);

}
